body {
    margin: 5px;
    font-family: Roboto,"Helvetica","Arial",sans-serif;
}

.hidden {
    display: none;
}

h1 {
    margin-bottom: 2px;
}

table#cards {
    td {
        padding: 2px 10px;
    }

    tbody tr {
        transition: color 0.5s;
        cursor: pointer;
    }

    tbody tr:hover {
        color: blue;
    }

    .marked {
        color: red !important;
    }
}

textarea {
    width: 100%;
    height: 500px;
}

#prev_img {
    max-width: 200px;
    max-height: 200px;
}
