@acent_color: #4286f4;

@keyframes flash {
    from {
        opacity: 1;
    }
    to   {
        opacity: 0;
    }
}

@keyframes fade_in {
    from {
        opacity: 0;
    }
    to   {
        opacity: 1;
    }
}

body {
    margin: 0px;
    font-family: Roboto,"Helvetica","Arial",sans-serif;
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

button, input[type=button] {
    background: @acent_color;
    color: white;
    border-radius: 15px;
    border: 5px solid @acent_color;
    padding: 0px 7px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
}

button:disabled, input[type=button]:disabled {
    background: lighten(@acent_color, 10%);
    border-color: lighten(@acent_color, 10%);
    color: darken(white, 30%);
}

input {
    border: 0px solid @acent_color;
    border-bottom-width: 2px;
    background-color: transparent;
}

input[type=number] {
    width: 50px;
}

#selector {
    padding: 10px;
    pointer-events: none;
    position: absolute;
    top: -110%;
    pointer-events: none;
    height: calc(100vh - 20px);
    width: calc(100vw - 20px);
    overflow: auto;
    transition: .5s top;

    h1:first-child {
        margin-top: -8px;
    }

    h1, h2 {
        margin-bottom: 0px;
    }

    p {
        margin-top: 0px;
        max-width: 50%;
    }

    #start {
        margin-top: 40px;
        margin-bottom: 10px;
    }
}

#selector.active {
    top: 0px;
    pointer-events: all;
}

#game {
    display: none;
    height: 90%;
    max-height: calc(100% - 20px);
    padding: 10px;

    #cards_wrapper {
        display: grid;
        grid-template-columns: 3em auto;
        grid-template-rows: 3em auto;
        grid-gap: 15px;
        height: calc(100% - 20px - 25px);

        .difficulty {
            grid-column: 1 / 2;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3em;
            padding-left: 10px;
        }

        .row {
            grid-column: 2 / 3;
            display: flex;
            flex-direction:row;

            .card {
                width: 100%;
                flex: 1 1 auto;
                margin: 0px 7.5px;
                background: @acent_color;
                border: 7px solid white;
                box-shadow: 0px 0px 7px 0px #000;
                border-radius: 10px;
                cursor: pointer;
            }

            .card.disabled {
                background: #0000;
                box-shadow: 0px 0px 7px 0px #0000;
                border: 7px solid #0000;
                cursor: default;
            }

            .card.played {
                background: #fff;
                box-shadow: 0px 0px 7px 0px #0008;
                border: 7px solid darken(#fff, 5%);
                cursor: default;
            }

            .headline {
                width: 100%;
                min-width: 300px;
                flex: 1 1 auto;
                margin: 0px 7.5px;
                height: 4em;
                font-size: 2em;
                text-align: center;
            }
        }
    }

    #cards_wrapper.played {
        .row {
            .card {
                cursor: pointer !important;
            }
        }
    }
}

#game.active {
    display: block;
}

#card_wrapper, #win_wrapper {
    z-index: 8;
    position: fixed;
    height: 90vh;
    width: 100vw;
    background: #000a;
    top: 0px;
    left: 0px;
    opacity: 0;
    pointer-events: none;
    transition: .5s opacity;

    #card, #win {
        background: #fff;
        box-shadow: 0px 0px 10px 1px #000;
        width: 90%;
        height: 80%;
        border-radius: 20px;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%) scale(0);
        padding: 2.5%;
        position: relative;
        transition: .5s transform;

        .close_button {
            position: absolute;
            border: 15px solid red;
            border-radius: 100px;
            padding: 0px;
            right: 5px;
            top: 5px;
            cursor: pointer;
            opacity: 0;
            pointer-events: none;
            transition: .5s opacity;
        }

        img {
            width: 100%;
            height: calc(100% - 2.5% - 2em);
            object-fit: contain;
            margin: auto;
        }

        #answer {
            position: absolute;
            bottom: 2.5%;
            left: 2.5%;
            width: 100%;
            text-align: center;
            opacity: 0;
            pointer-events: none;
            transition: .5s opacity;

            label, input {
                font-size: 2em;
            }

            input:nth-of-type(1) {
                width: 100px;
            }
        }

        .row {
            margin-left: 10px;
            margin-bottom: 20px;

            .place, .points {
                font-size: 1.5em;
                width: 45%;
                display: inline-block;
                text-align: right;
                position: relative;
                right: -10%;
            }

            .place {
                font-size: 2em;
                text-align: left;
                left: 0px;
            }

            .team {
                padding-bottom: 20px;
                border: 5px solid transparent;
                border-radius: 10px;
                margin: 3px 0px;
            }
        }

        .row::nth-of-type(1) {
            .place {
                font-weight: bold;
            }
        }
    }

    #win {
        width: 30%;
        height: 70%;

        > div {
            overflow: auto;
            height: 100%;
        }

        .close_button {
            opacity: 1;
            pointer-events: all;
        }
    }
}

#card_wrapper.active, #card_wrapper.pattern_solution, #win_wrapper.active {
    opacity: 1;
    pointer-events: all;

    #card, #win {
        transform: translate(-50%,-50%) scale(1);
    }
}

#card_wrapper.active:not(.pattern_solution) {
    #card {
        #answer {
            opacity: 1;
            pointer-events: all;
        }
    }
}

#card_wrapper.pattern_solution {
    #card {
        .close_button {
            opacity: 1;
            pointer-events: all;
        }
    }
}

#card_wrapper.pattern_solution.active {
    #card {
        .close_button {
            animation: .5s fade_in;
        }

        #answer {
            animation: .5s fade_in reverse;
        }
    }
}

#teams {
    display: flex;
    position: fixed;
    flex-direction: row;
    z-index: 10;
    bottom: -20%;
    height: 10%;
    width: 100%;
    min-height: 20px;
    background: transparent;
    box-shadow: 0px 8px 8px 5px #000;

    transition: .5s bottom;

    .team {
        flex: 1 1 auto;
        height: calc(100% + 20px);
        width: 100%;
        text-align: center;
        font-size: 3em;
        border-radius: 0px;
        margin-top: 0px;
        padding-top: 0px;

        transition: .5s margin-top, .5s padding-top, .5s box-shadow, .5s border-radius;

        span {
            vertical-align: middle;
            width: 100%;
            height: 100%;
            line-height: 10vh;
        }
    }

    .team.active {
        margin-top: -20px;
        padding-top: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 15px -5px #000;
        z-index: 11;
    }
}

#teams.active {
    bottom: 0px;
}

#countdown {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #0f0;
    z-index: 12;
    box-shadow: 0px 0px 8px 0px #0009;

    div {
        padding-bottom: 10px;
        background: #f00;
        width: 0px;
        position: relative;
        right: 0px;
    }
}

#countdown.active {
    display: block;
}

#countdown_overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: #f00;
    pointer-events: none;
    opacity: 0;
}

#countdown_overlay.active {
    animation: .5s flash;
}
