@acent_color: #4286f4;

body {
    margin: 5px;
    font-family: Roboto,"Helvetica","Arial",sans-serif;
}

main#index {
    margin: 10px;
    text-align: center;

    #logo {
        width: 20%;
        margin-top: 20px;
        margin-bottom: -20px;
    }

    #buttons {
        margin-top: 70px;

        a {
            background: @acent_color;
            color: white;
            border-radius: 100px;
            border: 7px solid darken(@acent_color, 5%);
            padding: 10px;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.5em;
            margin: 4px;
        }
    }

    h1 {
        font-size: 5em;
        margin-bottom: 0px;
    }

    p {
        margin: 50px auto;
        font-size: 1.5em;
        width: 70%;
    }

    #footer {
        font-size: 75%;
        margin-top: 40px;
        color: grey;

        a {
            color: @acent_color;
            text-decoration: none;
        }
    }
}
