%html
    %head
        %title -> -block title

        %meta name="viewport" content="width=device-width, initial-scale=1.0"

        %meta charset="UTF-8"

        -block head

        -block favicon
            %link rel="shortcut icon" href="/static/favicon.png"
            %link rel="shortcut icon" href="/static/favicon.svg"

            %link rel="apple-touch-icon-precomposed" href="/static/favicon.png"

        -block lessjs
            %script src='/static/less.min.js'
    %body
        -block content
