-extends "base.haml"

-block title << Dashboard

-block head
    %link rel='stylesheet/less' type='text/css' href='/static/dashboard.less'

    %script src='/static/dashboard.js'

-block content
    %div
        %h1 << Karten
        %table#cards
            %thead
                %tr
                    %td
                        Klasse
                    %td
                        Name
                    %td
                        Schwierigkeit
                    %td
                        Zeit
                    %td
                        Aufgabe (größe)
                    %td
                        Musterlösung (größe)
                    %td
                        Kategorie
            -for card in cards:
                %tr onclick="window.open('/editor/{{card['id']}}', '_self')"
                    %td
                        =card['class']
                    %td
                        =card['name']
                    %td
                        =card['difficulty']
                    %td
                        =card['time']
                    %td
                        -if len(card['description']) == 0:
                            %span.marked
                                =lenght_bytes_formated(card['description'])
                        -else:
                            =lenght_bytes_formated(card['description'])
                    %td
                        -if len(card['pattern_solution']) == 0:
                            %span.marked
                                =lenght_bytes_formated(card['pattern_solution'])
                        -else:
                            =lenght_bytes_formated(card['pattern_solution'])
                    %td
                        =card['categorie']
        %button onclick="window.open('/editor', '_self')" << Neue Karte
    %div
        %h1 << Lehrplan
        %textarea#curriculum
        %button onclick="set_curriculum()" << Lehrplan setzen

    %script
        get_curriculum({{curriculum}})
