-extends "base.haml"

-block title << Editor ({{card["id"]}})

-block head
    %link rel='stylesheet/less' type='text/css' href='/static/dashboard.less'

    %script src='/static/dashboard.js'

-block content
    %table
        %tr
            %td
                %label for=name << Name
            %td
                %input#name type=text value="{{card['name']}}"
        %tr
            %td
                %label for=pattern_solution << Musterlösung
            %td
                %img#pattern_solution_prev_img src="{{card['pattern_solution']}}"
                %br
                %input#pattern_solution type=file onChange="img_to_b64('pattern_solution')"
                %input#pattern_solution_b64.hidden
        %tr
            %td
                %label for=description << Aufgabe
            %td
                %img#description_prev_img src="{{card['description']}}"
                %br
                %input#description type=file onChange="img_to_b64('description')"
                %input#description_b64.hidden
        %tr
            %td
                %label for=categorie << Kategorie
            %td
                %input#categorie type=text value="{{card['categorie']}}"
        %tr
            %td
                %label for=solution << Lösung
            %td
                %input#solution type=number step=0.001 value="{{card['solution']}}"
        %tr
            %td
                %label for=class << Klasse
            %td
                %input#class type=number max=12 min=1 step=0.01 value="{{card['class']}}"
        %tr
            %td
                %label for=difficulty << Schwierigkeit
            %td
                %input#difficulty type=number max=1 min=0 step=0.01 value="{{card['difficulty']}}"
        %tr
            %td
                %label for=time << Zeit
            %td
                %input#time type=number max=1000 min=0 step=0.01 value="{{card['time']}}"
    %button onclick="set_card({{card['id']}})"
        speichern
    %button onclick=rm_card({{card['id']}})
        löschen
    %button onclick="location = '/dashboard'"
        zum dashboard
