-macro script(file, download=False):
    -if download:
        %script
            =include_static(file[8:]) | safe
    -else
        %script src={{file}}

-macro less(file, download=False):
    -if download:
        %style type='text/less'
            =include_static(file[8:]) | safe
    -else
        %link rel='stylesheet/less' type='text/css' href={{file}}

-macro favicon(file, rel, download=False):
    -if download:
        %link rel="{{rel}}" href="{{base64(file)}}"
    -else
        %link rel="{{rel}}" href="{{file}}"


-extends "base.haml"

-block title << Der Große Preis

-block head
    %script
        -if debug:
            window.debug = true;
        -else
            window.debug = false;
        window.cards = {{cards_json}};
        window.categories = {{categories_json}};

    =less(file='/static/game.less', download=download)

    =script(file='/static/game.js', download=download)
    =script(file='/static/haml.js', download=download)
    =script(file='/static/confetti.min.js', download=download)

-block favicon
    =favicon(rel="shortcut icon", file="/static/favicon.png", download=download)
    -if not download
        =favicon(rel="shortcut icon", file="/static/favicon.svg", download=download)

    =favicon(rel="apple-touch-icon-precomposed", file="/static/favicon.png", download=download)

-block lessjs
    =script(file='/static/less.min.js', download=download)

-block content
    %main
        %div#selector.active
            %h1 << Einstellungen
            %p << Hier könnt ihr einstellen, wie ihr das Spiel spielen möchtet.
            %p << Das Spiel kann mit der F11 oder auch FN + F11 Taste in den Vollbildmodus geschalten werden.
            %div#class
                %h2 << Jahrgangsstufe
                %p << Von welcher bis welcher Jahrgangsstufe sollen die Aufgaben sein?
                %input type=number value=0
                %span
                    &nbsp;&nbsp;bis&nbsp;&nbsp;
                %input type=number value=13
            %div#categories
                %h2 << Kategorien
                %p << Wie viele Spalten soll es pro Kategorie geben? Eine Spalte besteht immer aus drei Aufgaben. Die verfügbaren Klassen stehen in den eckigen Klammern hinter den Kategorie Namen.
                %ul
                    -for i, categorie in categories_enum.items():
                        %li
                            %input#categorie_{{i}} type=number step=1 min=0 max=5 value=0
                            %label from=categorie_{{i}} << {{categorie}}
            %div#time
                %h2 << Zeit
                %p << Wie viel Zeit wollt ihr bei den Aufgaben haben? Bsp. "50%" bedeutet halb so viel Zeit wie normal, "200%" bedeutet doppelt so viel Zeit wie normal.
                %input type=number min=0.01 max=1000 step=0.01 value=100
                \%
            %div#team
                %h2 << Teams
                %p << Wie viele Teams seid ihr?
                %input type=number min=1 max=50 step=1 value=2
                Teams
            %button#start << start
        %div#game
        %div#card_wrapper
            %div#countdown_overlay
            %div#card
                %img
                %button.close_button
                %div#answer
                    ;%label for=answer << Antwort:
                    %input type=text
                    %input type=button value=antworten
        %div#win_wrapper
            %div#win
                %button.close_button
                %div
        %div#teams
        %div#countdown
            %div
