-extends "base.haml"

-block title << Der Große Preis

-block head
    %link rel='stylesheet/less' type='text/css' href='/static/index.less'

-block content
    %main#index
        %img#logo src='/static/favicon.svg'
        %h1 << Der Große Preis
        %p
            |Der große Preis ist ein von der gleichnamigen Sendung von 1974 inspiriertes Mathespiel bei welchem Schülergruppen Fragen unterschiedlicher Schwierigkeit beantworten müssen.
            |Es kann in einer ganzen Klasse egal welcher Jahrgangsstufe gespielt werden, indem diese in beliebig viele Gruppen aufgeteilt wird.
            |Im Vergleich zur Sendung gibt es allerdings nur Fragen mit einem mathemathischem Thema.
            |Dieses Spiel kann unter anderem für Vertretungsstunden oder zur Wiederholung von Themengebieten genutzt werden.
            |Implementierte Jahrgangsstufen: 5
        %div#buttons
            %a href="/game" << Spielen
            %a href="/download" download="Der Große Preis.html" << Herunterladen
        %div#footer
            {{'<a href="https://gitlab.com/TilCreator/der-grosse-preis">Quell Code (Gitlab)</a>, Logo von <a href="https://aja-mi.deviantart.com/">Aja-mi</a>'}}
